body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

nav div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

nav div a {
    color: #f2f2f2;
    padding: 14px 16px;
}

nav div.auth-buttons {
    float: right;
}


.auth-buttons button {
    padding: 1px 0px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjusted for header height */
}

h1 {
    color: #333;
}

p {
    color: #666;
}

a {
    color: #007acc;
    text-decoration: none;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

input, textarea {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

textarea {
    resize: vertical; /* Allow only vertical resizing */
}

button {
    padding: 10px 20px;
    background: #007acc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #005f99;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #f4f4f4; /* Lighter text color */
    padding: 5px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer p {
    margin: 0;
    padding: 0px;
    font-size: 12px; /* Slightly larger font size */
    color:#f4f4f4; /* Ensures the paragraph text is white */
    text-shadow: 1px 1px 2px #000; /* Adds a subtle shadow for better readability */
}

span#groups {
    font-size: 10px;
    padding: 2px;
}